{% block form_rows %}
{% spaceless %}
    {% for child in form %}
        {#% if "translations" == child.vars.name %#}
        {% if "translations" == child.parent.vars.name %}
            {% form_theme child "::Form/translations.html.twig" %}
        {% endif %}
        {{ form_row(child) }}
    {% endfor %}
{% endspaceless %}
{% endblock form_rows %}
{% block form_widget_simple %}
{% spaceless %}
    {% set type = type|default('text') %}
    <div id="{{id}}_inline" contenteditable="true" onblur="updateContent(this, 'input');">
        {% if value is not empty %}{{ value | raw }}{% else %}empty{% endif %}
    </div>
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
{% endspaceless %}
{% endblock form_widget_simple %}

{% block textarea_widget %}
    {% spaceless %}
        <div id="{{id}}_inline" contenteditable="true" onblur="updateContent(this, 'textarea');" contenteditable="true">
            {% if value is not empty %}{{ value | raw }}{% else %}empty{% endif %}
        </div>
    <textarea class="" {{ block('widget_attributes') }}>{{ value }}</textarea>
    {% endspaceless %}
{% endblock textarea_widget %}