{% block subject %}
    {% autoescape false %}
    {#{ 'registration.email.subject'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }#}
    Actumus.com - Mot de passe oublié
    {% endautoescape %}
{% endblock %}
{% block body_text %}

    {#{ 'registration.email.message'|trans({'%username%': user.username, '%confirmationUrl%': confirmationUrl}, 'FOSUserBundle') }#}
{% endblock %}
{% block body_html %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"=20 "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
        <title>Invitation{{""|trans|capitalize}}</title>
    </head>
    <body style="font-family: Arial, Helvetica,sans_serif ; font-size: 12px;   color:#768b7a; background: url('{{ host }}/images/mail_templates/fond_general.jpg');">
            <table align="center" cellpadding="20" cellspacing="3" width="601">
                <tr style="background-color:#FFFFFF;">
                    <td style="background-color:#FFFFFF; border: 0px solid #FFFFFF;"><a href="http://actumus.com"><img src="{{ host }}/images/mail_templates/logo_1.png" width="133" border="0"></a></td>
                </tr>
              <tr style="background-color:#FFFFFF;">
                <td style="background-color:#FFFFFF; border: 0px solid #FFFFFF;"> 
                  <p style=" font-size:110%;line-height:130%; ">
                      <br />
                    {% autoescape false %}
                      {{"bonjour.

                      veuillez.cliquez.sur.le"|trans|capitalize}}
                      {{ confirmationUrl}}

                      <br />
                      <br />
                      {{"merci.de.la.confiance"|trans|capitalize}}
                    {% endautoescape %}
                  </p>
                </td>
              </tr>
               <tr style="background-color:#FFFFFF;">
                <td style="background-color:#FFFFFF; border: 0px solid #FFFFFF;"><p>La gamme de produits ACTUMUS sont con&ccedil;us pour aider le corps &agrave; lutter contre un environnement qui devient de plus en plus hostile parce que charg&eacute; de produits chimiques toxiques, de pesticides et d&rsquo;herbicides. </p></td>
               </tr>
            </table>
    </body>
</html>
        <!--table align="center" cellpadding="5" cellspacing="5">
          <tr>
            <td><em style="font-size:95%;  color : #3e6244;  "> {{"si.vous.ne.voulez.plus.recevoir"|trans|capitalize}}<a href="#" style=" text-decoration: none;  color : #247c31;  " >{{"cliquez.ici"|trans|capitalize}}</a></em></td>
          </tr>
        </table -->
{% endblock %}
                 


