{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
{% spaceless %}
<div>
    {#% if app.user.contact is not empty %}
    {{ "bienvenue"|trans|capitalize }} {{ app.user.contact.firstname }} {{ app.user.contact.lastname }} -
    {% else %}
    {{ "no.name.set"| trans }}
    {% endif %#}
    <a href="{{ path('HavenSecurityBundle_logout') }}">
        {{ 'Fermer la session'|trans }}
    </a>
</div>
{% endspaceless %}
{% endif %}